p{
    font-size: 50px;
    color: #1cff65;
    font-style: italic;
}
.box-one {
    height: 200px;
    width: 200px;
    background-color: red ;
    float: left;
    margin: 10px 20px 30px 40px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 50px;
    font-size: 20px;
}
.box-two {
    height: 200px;
    width: 200px;
    background-color: green;
    float: left;
    margin: 10px;
}
.box-three {
    height: 300px;
    width: 1000px;
    background-color: orange;
    margin: 10px;
    float: left;
}


.col-1 { width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}
.col-5 { width: 41.66%;}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 { width: 100%;}

[class*='col-']{
    float: left;
    box-sizing: border-box;
    border: 1px solid;
}
.row:after{
    content: ' ';
    clear: both;
    display: block;
}
.wrapper-width {
    width: 90%;
    height: auto;
    margin: 0 auto;
}


.header-top { height: 30px}
.header-height {height: 200px;}
.menu-height {height: 50px;}
.content-height {height: 700px;}
.footer-height {height: 100px;}

